In [7]:
import pandas as pd
df = pd.read_csv(r"C:\Users\anjoj\OneDrive\Desktop\reshma\Main Project\covid19_italy.txt")
df

,SNo,Date,Country,RegionCode,RegionName,ProvinceCode,ProvinceName,ProvinceAbbreviation,Latitude,Longitude,TotalPositiveCases
0,0,2020-02-24T18:00:00,ITA,13,Abruzzo,66,L'Aquila,AQ,42.351222,13.398438,0
1,1,2020-02-24T18:00:00,ITA,13,Abruzzo,67,Teramo,TE,42.658918,13.704400,0
2,2,2020-02-24T18:00:00,ITA,13,Abruzzo,68,Pescara,PE,42.464584,14.213648,0
3,3,2020-02-24T18:00:00,ITA,13,Abruzzo,69,Chieti,CH,42.351032,14.167546,0
4,4,2020-02-24T18:00:00,ITA,13,Abruzzo,979,In fase di definizione/aggiornamento,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...
40196,40196,2020-12-06T17:00:00,ITA,5,Veneto,27,Venezia,VE,45.434905,12.338452,24142
40197,40197,2020-12-06T17:00:00,ITA,5,Veneto,28,Padova,PD,45.406930,11.876087,31073
40198,40198,2020-12-06T17:00:00,ITA,5,Veneto,29,Rovigo,RO,45.071073,11.790070,4577
40199,40199,2020-12-06T17:00:00,ITA,5,Veneto,899,Fuori Regione / Provincia Autonoma,NaN,NaN,NaN,2809
40200,40200,2020-12-06T17:00:00,ITA,5,Veneto,999,In fase di definizione/aggiornamento,NaN,NaN,NaN,403

In [2]:
df.shape

(40201, 11)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40201 entries, 0 to 40200
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   SNo                   40201 non-null  int64
 1   Date                  40201 non-null  object
 2   Country               40201 non-null  object
 3   RegionCode            40201 non-null  int64
 4   RegionName            40201 non-null  object
 5   ProvinceCode          40201 non-null  int64
 6   ProvinceName          40201 non-null  object
 7   ProvinceAbbreviation  30422 non-null  object
 8   Latitude              30709 non-null  float64
 9   Longitude             30709 non-null  float64
 10  TotalPositiveCases    40201 non-null  int64
dtypes: float64(2), int64(4), object(5)
memory usage: 3.4+ MB

In [5]:
df.describe()

,SNo,RegionCode,ProvinceCode,Latitude,Longitude,TotalPositiveCases
count,40201.000000,40201.000000,40201.000000,30709.000000,30709.000000,40201.000000
mean,20100.000000,10.357354,266.261188,42.908522,12.096599,2563.579961
std,11605.173423,5.993795,383.221679,2.631552,2.660590,6884.484083
min,0.000000,1.000000,1.000000,36.925092,7.320149,0.000000
25%,10050.000000,5.000000,36.000000,40.914047,9.828190,103.000000
50%,20100.000000,9.000000,71.000000,43.715532,12.104734,642.000000
75%,30150.000000,16.000000,110.000000,45.185093,14.167546,2605.000000
max,40200.000000,22.000000,999.000000,46.499335,18.171897,158717.000000

In [6]:
df.head(5)

,SNo,Date,Country,RegionCode,RegionName,ProvinceCode,ProvinceName,ProvinceAbbreviation,Latitude,Longitude,TotalPositiveCases
0,0,2020-02-24T18:00:00,ITA,13,Abruzzo,66,L'Aquila,AQ,42.351222,13.398438,0
1,1,2020-02-24T18:00:00,ITA,13,Abruzzo,67,Teramo,TE,42.658918,13.704400,0
2,2,2020-02-24T18:00:00,ITA,13,Abruzzo,68,Pescara,PE,42.464584,14.213648,0
3,3,2020-02-24T18:00:00,ITA,13,Abruzzo,69,Chieti,CH,42.351032,14.167546,0
4,4,2020-02-24T18:00:00,ITA,13,Abruzzo,979,In fase di definizione/aggiornamento,NaN,NaN,NaN,0

In [ ]:
#Studying about COVID-19 progression in Italy at a province and region level.
#This dataset has 40201 rows and 11 columns.
#This Dataset has 2 decimal columns, 4 integer columns and 5 text columns.